@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-panel {
    @apply bg-[#151a23]/65 backdrop-blur-xl border border-white/10 shadow-lg;
  }

  .glass-card {
    @apply bg-white/5 border border-white/5;
  }

  .glass-sidebar {
    @apply bg-[#0b0c15]/85 backdrop-blur-2xl border-r border-white/5;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .grid-bg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 40px 40px;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #282e39;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b4354;
}